.home{
    display: flex;
    margin-bottom: 20px;
}
.sorryMessage{
    flex:9;
    color: rgb(5, 65, 5);
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}

@media screen and (max-width:480px) {
    .home{
        flex-direction: column;
        margin-left: 20px;
    }
}